/**
* Accordeon
*/
.accordeon details {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: aqua;
    cursor: pointer;
}
.accordeon details[open] {
    background-color: light;
}

.accordeon summary { 
    list-style: none;
}
.accordeon > details > summary::marker,
.accordeon > details > summary::-webkit-details-marker {
    display: none;
}

.accordeon summary::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

.accordeon details[open] summary::after {
    transform: rotate(90deg);
}